@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

.card-footer  {
    position: absolute;
    bottom: 10px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    
   
}
.card-footer1 {
    position: absolute;
    bottom: 10px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.bold {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.card-footer p {
    padding: 12px;
    border-radius: 5px !important;
}

.card-footer1 p {
    padding: 12px;
    border-radius: 5px !important;
}